img {
    width: 250px;
}

nav{
    text-align: right;
    background-color: aquamarine;
}
nav a{
    display: inline-block;
    text-decoration: none;
    padding: 14px 12px;
    background-color: pink;
}
nav i{
    align-content: left;
}
nav a:hover{
    background-color: brown;
}

nav a.current{
    background-color: black;
    color:white;
}

body {
    background-color: lightskyblue;
}