/* body{
    margin:10px;
}
img {
    height:50vh;
}

body {
    background-color: lightskyblue;
}
iframe{
    width: 70%;
    height: 95vh;
    margin-left:15%;
    margin-top: 20px;
}

*/

body{
    margin:0px;
    font-family: 'Lato', sans-serif;
}

* {
    box-sizing: border-box;
}
img {
    height:40vh;
}

nav{
    text-align: right;
    background-color: lightpink;
   

}
nav a{
    display: inline-block;
    text-decoration: none;
    padding: 14px 12px;
    background-color none;
}
nav i{
    align-content: left;
    
}
nav a:hover{
    background-color: lightcoral;
}

nav a.current{
    color: black;
    font-weight: bold;
}

*{
    box-sizing: border-box;
}
[class*="col-"] {
    float: left;;
    padding: 15px;
    border: 1px solid red;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
/* For mobile phones: */
div {background-color: yellow;}
[class*="col-"] {
    width: 100%;;
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}

    div {background-color: aquamarine;
        font-size: 90%;
    }
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    div {background-color: beige;
        font-size: 80%;
    }
    
}

@media only screen and (orientation: landscape) {
    body {
        background-color: greenyellow;
    }
}


.profile {
    justify-self: center;
    align-self: center;
}

/* index page 
header {
    grid-column: 1/7;
}

.profile {
    grid-column: 1/4;
    grid-row: 2/4;
    justify-self: center;
    align-self: center;
}

.item1 {
    grid-column: 4/6;
    grid-row: 2/3;
    align-self: end;
}

.item2 {
    grid-column: 4/6;
    grid-row: 3/4;
    align-self: start;
}

.item3 {
    grid-row: 4/6;
    grid-column: 1/7;
    justify-self: center;
    align-self: center;
    margin: 0 70px 0;
    color:black;
}
*/

.fa-facebook, .fa-instagram, .fa-linkedin{
    font-size: 1.5em;
    justify-self:center;
}
.icons{
    justify-self: center;
    align-self: center;
}
.footer{
    align-self: end;
    justify-self: center;

.footer p{
    font-size: 5px;
}

/* index page end */


