body{
    margin:10px;
}
img {
    height:50vh;
}

nav{
    text-align: right;
    background-color: aquamarine;
}
nav a{
    display: inline-block;
    text-decoration: none;
    padding: 14px 12px;
    background-color: pink;
}
nav i{
    align-content: left;
}
nav a:hover{
    background-color: brown;
}

nav a.current{
    background-color: black;
    color:white;
}

body {
    background-color: lightskyblue;
}
iframe{
    width: 70%;
    height: 95vh;
    margin-left:15%;
    margin-top: 20px;
}